#create a file named .env and add the following line:
GROQ_API_KEY=xyz
# how to get a free api key:
# 1. go to " https://console.groq.com/keys "
# 2. click on "Create API Key"
# 3. copy the api key
# 4. paste it in the GROQ_API_KEY
# 5. save the file